
/* Stylesheet content from css/maps/maps.css in folder common */
/* nearby page */

#parking_restroom {
	margin-top:10%;
}

 .overflow-scroll .scroll {
	
    padding-top:1%; 
}



.scroll {
    height: 100%;
}

#map_canvas {
    height: 100%;
    width: 100%;
}
