
/* Stylesheet content from css/landing/landing.css in folder common */
body{
	position:initial;
}

.padding {
    background-color: white;
}

.nav_Bar{
	background-color: #fa982f !important;
}