<ion-view>
<ion-content class="padding">
  
  <div  id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
  <div class='swipe-wrap'>
  
    <div ng-click="slideOne()"><img src="images/gallery/deer.jpg" class="caro"></div>
    <div ng-click="slideTwo()"><img src="images/gallery/tiger.jpg" class="caro"></div>
    <div ng-click="slideThree()"><img src="images/gallery/elephant.jpg" class="caro"></div>
    <div ng-click="slideFour()"><img src="images/gallery/whitelion.jpg" class="caro"></div>
    <div ng-click="slideFive()"><img src="images/gallery/cheetah.jpg" class="caro"></div>
    
</div>
    
</div>    
<div>

<div>
<div style="display: inline; float: left; clear:both; text-align: center; margin-top:1%; margin-left:4%">
<img style="height:60px; width:60px" src="images/dashboard/animal_list.png" ng-click="animals()" >
<p>Animal List</p>
</div>
<div style="display: inline; float: right; text-align: center; margin-top:1%; margin-right:6%">
<img style="height:60px; width:60px" src="images/dashboard/gallery.png" ng-click="gallery()">
<p>Gallery</p>
</div>
</div>

<div>
<div style="display: inline; float: left; clear:both; text-align: center; margin-left:4%">
<img style="height:60px; width:60px" src="images/dashboard/photo_booth.png" ng-click="takephoto()" >
<p>Photo Booth</p>
</div>
</div>

<div>
<div style="display: inline; float: right; text-align: center; margin-right:6%">
<img style="height:60px; width:60px" src="images/dashboard/ticket_booking.png" ng-click="ticketbooking()" >
<p>Booking</p>
</div>
</div>

<div>
<div style="display: inline; float: left; clear:both; text-align: center; margin-left:4%">
<img style="height:60px; width:60px" src="images/dashboard/direction.png" ng-click="direction()" >
<p>Direction</p>
</div>
<div style="display: inline; float: right; text-align: center; margin-right:6%">
<img style="height:60px; width:60px" src="images/dashboard/nearby.png" ng-click="nearby()" >
<p>Near by</p>
</div>
</div>

</div>
   

</ion-content>
</ion-view>