<ion-view hide-nav-bar="true">
  <ion-content class="padding">
  
  <center><img id="icon" src="images\icon.png"></center>
  <pre><p>

  SKEIN - "A group of geese in flight, typically in a V formation"; The importance of Team Work, Achieving Goals, Sharing, Encouragement, Empathy and Understanding.

  We see it as Power of V.

  When a bunch of us came together, we had multiple options in front of us. Some of us were good at implementing solutions, others are good at inventing them. So, why not create a smarter option and do both ... And hence SKEIN was born.

  We are an inter-disciplinary team of domain experts, technology architects and data analysts.</p></pre>
 
 
  </ion-content>

</ion-view>