
/* Stylesheet content from css/animal_Details/animalDetails.css in folder common */
#wildListImg1{
	float:left;
}
.title1{
	padding-left:40%;
	color:red;
}
#empty1{
	margin-top:50px;
}
#image{
	height:50%;
	width:40%;
}

#video{
	height:100%;
	width:100%;
}