<ion-view>
<ion-content>




<div>
<div style="display: inline; float: left; clear:both; text-align: center; margin-top:22%; margin-left:10%">
<img style="height:64px; width:64px" src="images/nearby/food_beverage.png" ng-click="food()" >
<p>Food and Beverage</p>
</div>
<div style="display: inline; float: right; text-align: center; margin-top:22%; margin-right:10%">
<img style="height:64px; width:64px" src="images/nearby/coffee.png" ng-click="cafe()" >
<p>Cafe</p>
</div>
</div>

<div id="parking_restroom">
<div style="display: inline; float: left; clear:both; text-align: center; margin-top:10%; margin-left:17%">
<img style="height:64px; width:64px" src="images/nearby/parking.png" ng-click="parking()">
<p>Parking</p>
</div>
<div style="display: inline; float: right; text-align: center;  margin-top:10%; margin-right:10%">
<img style="height:64px; width:64px" src="images/nearby/rest_room.png" ng-click="restroom()" >
<p>Restroom</p>
</div>
</div>

<div>
<div style="display: inline; float: left; clear:both; text-align: center; margin-top:10%; margin-left:10%">
<img style="height:64px; width:64px" src="images/nearby/information.png" ng-click="information()" >
<p>Information Centre</p>
</div>
</div>



</ion-content>
</ion-view>
